<div class="sb-header-bg">
  <app-separator></app-separator>
</div>

<div class="sb-content-separator">
  <app-separator></app-separator>

  <div class="sb-container">
    <h1 class="sb-title">Wiki</h1>

    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a class="sb-card" routerLink="characters">
          <div class="sb-glass"></div>
          <div class="sb-content">
            <h4 class="sb-card-title">Personnages</h4>
            <p class="sb-card-text">Découvrez tous les personnages du jeu</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a class="sb-card" routerLink="worlds">
          <div class="sb-glass"></div>
          <div class="sb-content">
            <h4 class="sb-card-title">Mondes</h4>
            <p class="sb-card-text">Découvrez tous les mondes du jeu</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a class="sb-card" routerLink="monsters">
          <div class="sb-glass"></div>
          <div class="sb-content">
            <h4 class="sb-card-title">Monstres</h4>
            <p class="sb-card-text">Découvrez tous les monstres du jeu</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a class="sb-card" routerLink="mods">
          <div class="sb-glass"></div>
          <div class="sb-content">
            <h4 class="sb-card-title">Mods</h4>
            <p class="sb-card-text">Découvrez tous les mods du jeu</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a class="sb-card" routerLink="spells">
          <div class="sb-glass"></div>
          <div class="sb-content">
            <h4 class="sb-card-title">Sorts</h4>
            <p class="sb-card-text">Découvrez tous les sorts du jeu</p>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <a class="sb-card">
          <div class="sb-glass"></div>
          <div class="sb-content">
            <h4 class="sb-card-title">Divers</h4>
            <p class="sb-card-text">Découvrez d'autres éléments du jeu</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
