.sb-card {
  position: relative;
  display: block;

  height: 100%;

  border: 3px solid black;
  border-radius: 1rem;

  box-shadow: 0 3px 0 black;

  overflow: hidden;

  .sb-skin {
    position: relative;

    width: 100%;
    height: calc(100% - 2.5rem);

    padding: 0.5rem;

    z-index: 1;

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .sb-header {
    display: flex;

    align-items: flex-end;
    gap: 0.5rem;

    padding: 0.5rem;

    width: 100%;
    height: 2.5rem;

    background-color: black;

    img {
      height: 1.5rem;
    }

    .sb-title {
      margin: 0;
      margin-bottom: -0.4rem;

      color: var(--sb-white);

      overflow: hidden;

      font-family: "SquadLatinBold", sans-serif;
      font-size: 1.5rem;
      font-weight: 900;

      text-overflow: ellipsis;
      text-wrap: nowrap;
    }
  }
}
