<div class="sb-card row justify-content-center align-items-center">
  <div class="sb-img col-10 col-sm-6 col-md-4 col-lg-5 mb-3">
    <img [src]="logoUrl" alt="!+VinZ+!'s logo" />
  </div>
  <div class="sb-content col-12 col-sm-12 col-md-8 col-lg-7 mb-3">
    <h3 class="sb-title">!+VinZ+!</h3>
    <div class="sb-description">
      Salut ! Je m'appelle Vincent, j'ai {{ age }} ans et je vis en Suisse.
      Ingénieur logiciel de profession, je développe aussi des bots Discord lors
      de mon temps libre. Je suis joueur Clash of Clans depuis 2013, et joueur
      e-sport amateur depuis 2016.
    </div>
    <div class="sb-socials">
      <a
        class="sb-btn"
        href="https://discord.com/users/314808292876484608"
        target="_blank"
      >
        <ng-icon name="bootstrapDiscord" size="" class="me-3"></ng-icon>
        Discord
      </a>
      <a class="sb-btn" href="https://x.com/dev__vinz" target="_blank">
        <ng-icon name="bootstrapTwitterX" size="" class="me-3"></ng-icon>
        Twitter / X
      </a>
    </div>
  </div>
</div>
