.sb-card {
  display: flex;

  align-items: center;

  width: 100%;

  background-color: var(--sb-bg-color-light);

  border: 3px solid black;
  border-radius: 10px;

  text-decoration: none;

  box-shadow: 0 3px 0 black;
  overflow: hidden;

  transition: transform 0.3s ease-in-out;

  .sb-header {
    height: 150px;
    aspect-ratio: 1/1;

    padding: 1rem 0 1rem 1rem;

    img {
      width: 100%;
      height: 100%;

      border-radius: calc(10px - 0.5rem);

      object-fit: cover;
    }
  }

  .sb-body {
    display: grid;

    color: rgba(var(--sb-color-rgb), 0.8);

    padding: 1rem;

    .sb-title {
      color: var(--sb-color);

      overflow: hidden;

      text-overflow: ellipsis;
      text-wrap: nowrap;

      font-family: "SquadLatinBold", sans-serif;
      font-size: 1.25rem;
    }

    .sb-subtitle {
      display: inline-block;

      margin-bottom: 0.5rem;
      margin-left: auto;

      font-size: 0.75rem;
    }

    .sb-content {
      display: -webkit-box;

      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      height: 4rem;

      margin-bottom: 0;

      overflow: hidden;
      text-overflow: ellipsis;

      font-size: 0.85rem;
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}
