<div class="row justify-content-center">
  <div class="col-sm-10 col-md-9 col-lg-8 mb-3">
    <a
      *ngIf="player?.socialMediaLink; else noLink"
      [href]="player?.socialMediaLink"
      target="_blank"
      class="sb-card sb-card-link row justify-content-center align-items-center"
    >
      <div class="sb-img col-10 col-sm-6 col-md-4 col-lg-5 mb-3">
        <img [src]="player?.imageUrl" [alt]="player?.username" />
      </div>
      <div class="sb-content col-12 col-sm-12 col-md-8 col-lg-7 mb-3">
        <h3 class="sb-title">{{ player?.username }}</h3>
        <div *ngIf="player?.presentation" class="sb-description">
          {{ player?.presentation }}
        </div>
      </div>
    </a>

    <ng-template #noLink>
      <div class="sb-card row justify-content-center align-items-center">
        <div class="sb-img col-10 col-sm-6 col-md-4 col-lg-5 mb-3">
          <img [src]="player?.imageUrl" [alt]="player?.username" />
        </div>
        <div class="sb-content col-12 col-sm-12 col-md-8 col-lg-7 mb-3">
          <h3 class="sb-title">{{ player?.username }}</h3>
          <div *ngIf="player?.presentation" class="sb-description">
            {{ player?.presentation }}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
