.sb-back {
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 45rem) {
  .sb-back {
    display: none;
  }
}

.sb-title {
  font-family: "SquadLatinBold", sans-serif;
  font-size: 3rem;
  font-weight: 900;

  text-align: center;
  text-transform: capitalize;
}

.sb-section-title {
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  font-family: "SquadLatinBold", sans-serif;
  font-size: 2rem;
  font-weight: 900;

  text-align: center;
}

.sb-subtitle {
  display: flex;

  align-items: center;
  gap: 0.5rem;
  justify-content: center;

  margin-bottom: 3rem;

  img {
    width: 64px;
  }

  h5 {
    margin-bottom: 0;

    font-family: "SquadLatinBold", sans-serif;
    font-weight: 900;
  }
}

.sb-profile {
  display: grid;

  place-content: center;

  .sb-card {
    max-width: 300px;

    border: 3px solid black;
    border-radius: 10px;

    box-shadow: 0 3px 0 black;

    img {
      width: 100%;
    }
  }
}

.sb-card {
  position: relative;

  padding: 1rem;

  background-color: var(--sb-bg-color-light);

  border: 3px solid black;
  border-radius: 10px;

  box-shadow: 0 3px 0 black;
}
