<div class="sb-header-bg" [style.background]="headerBackground">
  <app-separator></app-separator>
</div>

<div class="sb-content-separator">
  <app-separator></app-separator>

  <div class="sb-container">
    <a class="sb-back sb-btn" routerLink="/wiki/mods">
      <ng-icon name="bootstrapChevronDoubleLeft" size=""></ng-icon>
    </a>

    <div *ngIf="mod; else notFound">
      <h1 class="sb-title">{{ mod.name }}</h1>

      <div *ngIf="world" class="sb-world">
        <img [src]="world.iconUrl" alt="Icône" />
        <a
          [routerLink]="worldLink"
          class="sb-link"
          [style.--sb-link-color]="linkColor"
        >
          {{ world.name }}
        </a>
      </div>

      <div class="sb-description">
        <h2 class="sb-section-title">Description</h2>
        <div
          class="text-center"
          [innerHTML]="mod.description | newlineToParagraph"
        ></div>
      </div>

      <div *ngIf="usefulCharacters.length" class="sb-useful-characters">
        <h2 class="sb-section-title">Personnages utiles</h2>
        <ul>
          <li *ngFor="let usefulCharacter of usefulCharacters">
            <a
              [routerLink]="usefulCharacter.characterUrl"
              class="sb-link"
              [style.--sb-link-color]="linkColor"
            >
              {{ usefulCharacter.characterName }}</a
            >: {{ usefulCharacter.description }}
          </li>
        </ul>
      </div>

      <div *ngIf="monsters.length" class="sb-monsters">
        <h2 class="sb-section-title">Monstres exclusifs</h2>
        <div class="row justify-content-center">
          <div
            *ngFor="let monster of monsters"
            class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4"
          >
            <app-monster-preview [monster]="monster"></app-monster-preview>
          </div>
        </div>
      </div>
    </div>
    <ng-template #notFound>
      <app-not-found [contentOnly]="true"></app-not-found>
    </ng-template>
  </div>
</div>
