#sb-page-container {
  position: relative;

  min-height: 100vh;
}

#sb-page-content {
  padding-top: 100px;
  padding-bottom: 35rem;
}

#sb-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
}
