<div class="sb-header-bg">
  <app-separator></app-separator>
</div>

<div class="sb-content-separator">
  <app-separator></app-separator>

  <div class="sb-container">
    <a class="sb-back sb-btn" routerLink="/wiki/spells">
      <ng-icon name="bootstrapChevronDoubleLeft" size=""></ng-icon>
    </a>

    <div *ngIf="spell; else notFound">
      <h1 class="sb-title">{{ spell.name }}</h1>

      <div *ngIf="world" class="sb-world">
        <img [src]="world.iconUrl" [alt]="world.name" />
        <a
          [routerLink]="worldLink"
          class="sb-link"
          [style.--sb-link-color]="linkColor"
        >
          {{ world.name }}
        </a>
      </div>

      <div>
        <div class="sb-spell">
          <img class="sb-bg" [src]="backgroundImageUrl" alt="Background" />
          <img class="sb-icon" [src]="spell.iconUrl" alt="Spell" />
        </div>
      </div>

      <div class="sb-description">
        <h2 class="sb-section-title">Description</h2>

        <div class="row justify-content-center">
          <div
            class="col-sm-10 col-md-9 col-lg-8 sb-card text-center"
            [innerHTML]="spell.description | newlineToParagraph"
          ></div>
        </div>
      </div>

      <div *ngIf="spell.proTip" class="sb-tip">
        <h2 class="sb-section-title">Conseils d'utilisation</h2>

        <div class="row justify-content-center">
          <div
            class="col-sm-10 col-md-9 col-lg-8 sb-card text-center"
            [innerHTML]="spell.proTip | newlineToParagraph"
          ></div>
        </div>
      </div>

      <div *ngIf="player" class="sb-player">
        <h2 class="sb-section-title">Conseillé par</h2>
        <app-spell-player [player]="player"></app-spell-player>
      </div>

      <div *ngIf="character" class="sb-character">
        <h2 class="sb-section-title">Personnage associé</h2>

        <div class="row justify-content-center">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <app-character-preview
              [character]="character"
            ></app-character-preview>
          </div>
        </div>
      </div>
    </div>
    <ng-template #notFound>
      <app-not-found [contentOnly]="true"></app-not-found>
    </ng-template>
  </div>
</div>
