<div class="sb-header-bg">
  <div class="sb-header-dark">
    <app-separator></app-separator>
  </div>
</div>

<div class="sb-content-separator">
  <app-separator></app-separator>

  <div class="sb-container">
    <a class="sb-back sb-btn" routerLink="/wiki/">
      <ng-icon name="bootstrapChevronDoubleLeft" size=""></ng-icon>
    </a>

    <h1 class="sb-title">Les mods</h1>

    <div class="row justify-content-end mb-3">
      <div class="col-sm-5 col-md-4 col-lg-3 mb-3">
        <app-search
          placeholder="Rechercher un mod..."
          (searched)="onSearched($event)"
        ></app-search>
      </div>
    </div>

    <div *ngFor="let filter of filteredMods" class="row mb-3">
      <div class="col">
        <div class="row sb-section">
          <div class="col">
            <img
              *ngIf="filter.headerIcon"
              [src]="filter.headerIcon"
              alt="Section icon"
            />
            <h2 class="sb-section-title">
              {{ filter.header }}
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="sb-hr" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div
            *ngFor="let mod of filter.mods"
            class="col-12 col-md-6 col-lg-4 mb-4"
          >
            <app-mod-preview [mod]="mod"></app-mod-preview>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
