<div class="sb-header">
  <div class="sb-header-bg">
    <div class="sb-header-dark">
      <div class="sb-container">
        <div class="sb-header-content">
          <h1 class="sb-title">Bienvenue sur SquadBusters FR</h1>
          <div class="sb-buttons">
            <a
              href="https://discord.gg/DKb8cRVqdy"
              target="_blank"
              class="sb-btn sb-btn-tertiary"
            >
              <ng-icon name="bootstrapDiscord" size="" class="me-2"></ng-icon>
              Discord
            </a>
            <a
              href="https://x.com/Squad_Busters"
              target="_blank"
              class="sb-btn sb-btn-tertiary"
            >
              <ng-icon name="bootstrapTwitterX" size="" class="me-2"></ng-icon>
              Twitter/X
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-separator></app-separator>
</div>

<div class="sb-articles">
  <app-separator class="sb-top"></app-separator>

  <div class="sb-gradient"></div>

  <div class="sb-articles-content">
    <div class="sb-container">
      <h1 class="sb-title">Les dernières publications</h1>

      <div class="row">
        <app-article-card
          *ngFor="let article of latestNews"
          [article]="article"
          class="col-12 col-md-6 col-lg-4 mb-4"
        ></app-article-card>
      </div>

      <a class="sb-link" routerLink="/news">
        Voir les actus
        <ng-icon name="bootstrapChevronRight" size="" class="ms-2"></ng-icon>
      </a>

      <div class="row">
        <app-article-card
          *ngFor="let article of latestUpdates"
          [article]="article"
          class="col-12 col-md-6 col-lg-4 mb-4"
        ></app-article-card>
      </div>

      <a class="sb-link" routerLink="/updates">
        Voir les mises à jour
        <ng-icon name="bootstrapChevronRight" size="" class="ms-2"></ng-icon>
      </a>
    </div>
  </div>

  <app-separator></app-separator>
</div>

<div class="sb-creators">
  <app-separator class="sb-top"></app-separator>

  <div class="sb-gradient"></div>

  <div class="sb-creators-content">
    <div class="sb-container">
      <h1 class="sb-title">Les créateurs SquadBusters FR</h1>

      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
          <app-creator-card [creator]="creators[0]"></app-creator-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
          <app-creator-card [creator]="creators[1]"></app-creator-card>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
          <app-creator-card [creator]="creators[2]"></app-creator-card>
        </div>
      </div>
    </div>
  </div>

  <app-separator></app-separator>
</div>

<div class="sb-resume">
  <app-separator class="sb-top"></app-separator>

  <div class="sb-gradient"></div>

  <div class="sb-resume-content">
    <div class="sb-container">
      <h1 class="sb-title">Le développeur SquadBusters FR</h1>

      <div class="row">
        <div class="col-sm-10 col-md-9 col-lg-8 mb-4">
          <app-dev-resume></app-dev-resume>
        </div>
      </div>
    </div>
  </div>

  <app-separator></app-separator>
</div>
