.sb-header {
  position: relative;

  width: 100vw;
  height: 100vh;

  .sb-header-bg {
    display: grid;

    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-image: url("/assets/images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    .sb-container {
      padding-top: 100px;

      .sb-header-content {
        display: flex;

        flex-direction: column;
        justify-content: space-between;

        height: calc(100% - 100px);

        .sb-title {
          margin-bottom: 0;

          color: var(--sb-white);

          font-size: 3rem;
        }

        .sb-buttons {
          display: flex;

          flex-wrap: wrap;
          gap: 1rem;

          .sb-btn {
            flex-grow: 1;
          }
        }
      }
    }
  }
}

app-separator {
  position: absolute;
  bottom: 0;

  width: 100%;
  transform: translateY(1px);

  z-index: 1;

  &.sb-top {
    top: 0;
    bottom: auto;

    transform: rotate(180deg) translateY(calc(100% + 1px));
    transform-origin: bottom center;
  }
}

.sb-articles {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-image: url("/assets/images/backgrounds/common.png");
  background-repeat: repeat;
  background-size: cover;

  animation: scroll-linear 5s linear infinite;

  .sb-gradient {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #003d99, #06f);

    opacity: 0.5;
  }

  .sb-articles-content {
    position: relative;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    width: 100%;

    color: var(--sb-white);
  }

  .sb-container {
    display: grid;
  }

  .sb-link {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;

    color: rgba(var(--sb-white-rgb), 0.5);

    font-size: 0.85rem;

    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.3s ease;

    &:hover {
      color: var(--sb-white);
    }
  }
}

.sb-title {
  margin-bottom: 3rem;

  font-family: "SquadLatinBold", sans-serif;
  text-align: center;
}

.sb-creators {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-image: url("/assets/images/backgrounds/rare.png");
  background-repeat: repeat;
  background-size: cover;

  animation: scroll-linear 5s linear infinite;

  .sb-gradient {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #ffd77a, #ffba00);

    opacity: 0.5;
  }

  .sb-creators-content {
    position: relative;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    width: 100%;

    color: var(--sb-black);
  }

  .sb-container {
    display: grid;

    .row {
      justify-content: center;

      margin-bottom: 2rem;
    }
  }

  .sb-reversed {
    transform: rotate(180deg) translateY(-1px);
    transform-origin: bottom center;
  }
}

.sb-resume {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-image: url("/assets/images/backgrounds/epic.png");
  background-repeat: repeat;
  background-size: cover;

  animation: scroll-linear 5s linear infinite;

  .sb-gradient {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #fbaafe, #bc26c5);

    opacity: 0.5;
  }

  .sb-resume-content {
    position: relative;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    width: 100%;

    color: var(--sb-black);
  }

  .sb-container {
    display: grid;

    .row {
      justify-content: center;

      margin-bottom: 2rem;
    }
  }
}

@keyframes scroll-linear {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-device-width: 1366px) {
  .sb-header-bg {
    background-attachment: scroll !important;
  }
}
