<div class="sb-header-bg">
  <div class="sb-header-dark">
    <app-separator></app-separator>
  </div>
</div>

<div class="sb-content-separator">
  <app-separator></app-separator>

  <div class="sb-container">
    <a class="sb-back sb-btn" routerLink="/wiki/various">
      <ng-icon name="bootstrapChevronDoubleLeft" size=""></ng-icon>
    </a>

    <h1 class="sb-title">L'énergie portail</h1>

    <div class="sb-content">
      <p>
        Chaque combat, que ce soit en Monde Vert ou en Ligue Squad, vous
        permettra de gagner de l'énergie portail en fonction de votre position
        finale.
      </p>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Position</th>
                <th scope="col">Énergie portail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/1.png" alt="1er" />
                </th>
                <td class="sb-portal">
                  <span>200</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/2.png" alt="2ème" />
                </th>
                <td class="sb-portal">
                  <span>170</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/3.png" alt="3ème" />
                </th>
                <td class="sb-portal">
                  <span>140</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/4.png" alt="4ème" />
                </th>
                <td class="sb-portal">
                  <span>120</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/5.png" alt="5ème" />
                </th>
                <td class="sb-portal">
                  <span>100</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/6.png" alt="6ème" />
                </th>
                <td class="sb-portal">
                  <span>80</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/7.png" alt="7ème" />
                </th>
                <td class="sb-portal">
                  <span>70</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/8.png" alt="8ème" />
                </th>
                <td class="sb-portal">
                  <span>60</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/9.png" alt="9ème" />
                </th>
                <td class="sb-portal">
                  <span>50</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/10.png" alt="10ème" />
                </th>
                <td class="sb-portal">
                  <span>40</span>
                  <img
                    src="assets/images/wiki/portal_energy.png"
                    alt="Énergie portail"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <p>
        Les joueurs peuvent également gagner un bonus de première victoire
        quotidienne de 1000 points d'énergies de portail en se plaçant dans le
        Top 5.
      </p>

      <p>
        Si vous êtes en Ligue Squad, en plus de l'énergie de portail, vous
        gagnerez des trophées vous permettant de grimper dans le classement de
        la ligue.
      </p>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Position</th>
                <th scope="col">Trophées gagnés / perdus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/1.png" alt="1er" />
                </th>
                <td class="sb-trophy">
                  <span>10</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/2.png" alt="2ème" />
                </th>
                <td class="sb-trophy">
                  <span>7</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/3.png" alt="3ème" />
                </th>
                <td class="sb-trophy">
                  <span>4</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/4.png" alt="4ème" />
                </th>
                <td class="sb-trophy">
                  <span>2</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/5.png" alt="5ème" />
                </th>
                <td class="sb-trophy">
                  <span>1</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/6.png" alt="6ème" />
                </th>
                <td class="sb-trophy">
                  <span>0</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/7.png" alt="7ème" />
                </th>
                <td class="sb-trophy">
                  <span>-1</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/8.png" alt="8ème" />
                </th>
                <td class="sb-trophy">
                  <span>-2</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/9.png" alt="9ème" />
                </th>
                <td class="sb-trophy">
                  <span>-3</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
              <tr>
                <th class="sb-position" scope="row">
                  <img src="assets/images/wiki/positions/10.png" alt="10ème" />
                </th>
                <td class="sb-trophy">
                  <span>-5</span>
                  <img src="assets/images/wiki/trophy.png" alt="Trophées" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
