@font-face {
  font-family: "SquadLatin";
  src: url("assets/fonts/SquadLatin-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SquadLatinBold";
  src: url("assets/fonts/SquadLatin-Bold.otf") format("opentype");
}

:root {
  --sb-black-rgb: 34, 39, 43;
  --sb-white-rgb: 241, 242, 244;

  --sb-blue-light: #8dfefe;
  --sb-blue: #05bdfd;

  --sb-yellow-light: #fffd8a;
  --sb-yellow: #ffd800;

  --sb-purple-light: #fbaafe;
  --sb-purple: #bc26c5;

  --sb-red-light: #ff4d4d;
  --sb-red: #d60000;

  --sb-platinum-light: #e5e4e2;
  --sb-platinum: #b3b2b1;

  --sb-black: rgb(var(--sb-black-rgb));
  --sb-white: rgb(var(--sb-white-rgb));

  --sb-common: var(--sb-blue);
  --sb-common-gradient: linear-gradient(
    45deg,
    var(--sb-blue-light),
    var(--sb-blue)
  );
  --sb-small: var(--sb-common);
  --sb-small-gradient: var(--sb-common-gradient);

  --sb-rare: var(--sb-yellow);
  --sb-rare-gradient: linear-gradient(
    45deg,
    var(--sb-yellow-light),
    var(--sb-yellow)
  );
  --sb-medium: var(--sb-rare);
  --sb-medium-gradient: var(--sb-rare-gradient);

  --sb-epic: var(--sb-purple);
  --sb-epic-gradient: linear-gradient(
    45deg,
    var(--sb-purple-light),
    var(--sb-purple)
  );
  --sb-boss: var(--sb-epic);
  --sb-boss-gradient: var(--sb-epic-gradient);

  --sb-legendary: var(--sb-red);
  --sb-legendary-gradient: linear-gradient(
    45deg,
    var(--sb-red-light),
    var(--sb-red)
  );
  --sb-boss-special: var(--sb-legendary);
  --sb-boss-special-gradient: var(--sb-legendary-gradient);

  --sb-special-gradient: linear-gradient(
    45deg,
    var(--sb-platinum-light),
    var(--sb-platinum)
  );
}

@mixin darken() {
  --sb-bg-color-dark-rgb: 16, 18, 20; /* DarkNeutral100 */
  --sb-bg-color-rgb: 34, 39, 43; /* DarkNeutral200 */
  --sb-bg-color-light-rgb: 44, 51, 58; /* DarkNeutral300 */
  --sb-color-rgb: 241, 242, 244; /* Neutral200 */
  --sb-color-hover-rgb: 220, 223, 228; /* Neutral300 */
  --sb-primary-color-rgb: 255, 221, 112;
  --sb-primary-color-hover-rgb: 255, 236, 153;
  --sb-secondary-color-rgb: 0, 76, 225;
  --sb-secondary-color-hover-rgb: 6, 106, 254;
  --sb-tertiary-color-rgb: 192, 86, 247;
  --sb-tertiary-color-hover-rgb: 210, 126, 249;

  --sb-bg-color-dark: rgb(var(--sb-bg-color-dark-rgb));
  --sb-bg-color: rgb(var(--sb-bg-color-rgb));
  --sb-bg-color-light: rgb(var(--sb-bg-color-light-rgb));
  --sb-color: rgb(var(--sb-color-rgb));
  --sb-color-hover: rgb(var(--sb-color-hover-rgb));
  --sb-primary-color: rgb(var(--sb-primary-color-rgb));
  --sb-primary-color-hover: rgb(var(--sb-primary-color-hover-rgb));
  --sb-secondary-color: rgb(var(--sb-secondary-color-rgb));
  --sb-secondary-color-hover: rgb(var(--sb-secondary-color-hover-rgb));
  --sb-tertiary-color: rgb(var(--sb-tertiary-color-rgb));
  --sb-tertiary-color-hover: rgb(var(--sb-tertiary-color-hover-rgb));
}

@mixin lighten() {
  --sb-bg-color-dark-rgb: 220, 223, 228; /* Neutral300 */
  --sb-bg-color-rgb: 241, 242, 244; /* Neutral200 */
  --sb-bg-color-light-rgb: 247, 248, 249; /* Neutral100 */
  --sb-color-rgb: 34, 39, 43; /* DarkNeutral200 */
  --sb-primary-color-rgb: 246, 202, 69;
  --sb-primary-color-hover-rgb: 248, 213, 106;
  --sb-secondary-color-rgb: 33, 120, 226;
  --sb-secondary-color-hover-rgb: 51, 150, 255;
  --sb-tertiary-color-rgb: 173, 48, 232;
  --sb-tertiary-color-hover-rgb: 189, 89, 237;

  --sb-bg-color-dark: rgb(var(--sb-bg-color-dark-rgb));
  --sb-bg-color: rgb(var(--sb-bg-color-rgb));
  --sb-bg-color-light: rgb(var(--sb-bg-color-light-rgb));
  --sb-color: rgb(var(--sb-color-rgb));
  --sb-primary-color: rgb(var(--sb-primary-color-rgb));
  --sb-primary-color-hover: rgb(var(--sb-primary-color-hover-rgb));
  --sb-secondary-color: rgb(var(--sb-secondary-color-rgb));
  --sb-secondary-color-hover: rgb(var(--sb-secondary-color-hover-rgb));
  --sb-tertiary-color: rgb(var(--sb-tertiary-color-rgb));
  --sb-tertiary-color-hover: rgb(var(--sb-tertiary-color-hover-rgb));
}

body.sb-dark-theme {
  @include darken();
}

body.sb-light-theme {
  @include lighten();
}

body {
  background-color: var(--sb-bg-color) !important;
  color: var(--sb-color) !important;

  font-family: "SquadLatin", sans-serif !important;

  .sb-header-bg {
    position: relative;

    height: 200px;

    .sb-header-dark {
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.2);
    }

    app-separator {
      position: absolute;

      bottom: 0;

      width: 100%;
      transform: translateY(1px);
    }
  }

  .sb-content-separator {
    position: relative;
    padding-top: 100px;

    app-separator {
      position: absolute;

      top: 0;

      width: 100%;

      transform: rotate(180deg) translateY(calc(100% + 1px));
      transform-origin: bottom center;
    }

    .sb-container {
      margin-top: 0;
    }
  }

  .sb-container {
    position: relative;

    @media screen and (min-width: 992px) {
      max-width: var(--bs-breakpoint-xl);

      padding: 0 2.5rem;
      margin: 40px auto;
    }

    @media screen and (max-width: 991px) {
      padding: 0 1.5rem;
      margin: 20px auto;
    }
  }

  .sb-btn {
    --sb-btn-bg-color: var(--sb-bg-color);
    --sb-btn-bg-color-hover: var(--sb-bg-color-light);
    --sb-btn-color: var(--sb-color);

    display: inline-flex;

    align-items: center;
    justify-content: center;

    padding: 0.8rem 1.6rem;

    background-color: var(--sb-btn-bg-color);
    color: var(--sb-btn-color);

    border: 3px solid black;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;

    box-shadow: 0 3px 0 black;

    transition: background-color 0.2s ease, box-shadow 0.2s ease,
      transform 0.2s ease;

    &.sb-btn-primary {
      --sb-btn-bg-color: var(--sb-primary-color);
      --sb-btn-bg-color-hover: var(--sb-primary-color-hover);
      --sb-btn-color: var(--sb-black);
    }

    &.sb-btn-secondary {
      --sb-btn-bg-color: var(--sb-secondary-color);
      --sb-btn-bg-color-hover: var(--sb-secondary-color-hover);
      --sb-btn-color: var(--sb-bg-color);
    }

    &.sb-btn-tertiary {
      --sb-btn-bg-color: var(--sb-tertiary-color);
      --sb-btn-bg-color-hover: var(--sb-tertiary-color-hover);
      --sb-btn-color: var(--sb-black);
    }

    &:active {
      box-shadow: none;
      transform: translateY(3px);
    }

    &:hover {
      background-color: var(--sb-btn-bg-color-hover);
    }
  }

  .sb-article-content img,
  .sb-article-content iframe {
    max-width: 100%;
  }

  .carousel-inner {
    height: 100%;

    div {
      height: 100%;
    }
  }

  b {
    font-family: "SquadLatinBold", sans-serif;
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
