/* ARTICLES PAGINATION */
#articles-pagination {
  .pagination {
    gap: 0.5rem;

    .page-item {
      display: flex;

      align-items: center;
      justify-content: center;

      min-width: 50px;

      height: 50px;

      &.active {
        background-color: var(--sb-bg-color-light);

        border: 3px solid black;
        border-radius: 10px;

        box-shadow: 0 3px 0 black;
      }

      &.disabled .page-link {
        opacity: 0.5;
      }

      .page-link {
        color: var(--sb-color);

        background-color: transparent;
        border: none;

        text-align: center;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
