@font-face {
  font-family: "SquadLatin";
  src: url("assets/fonts/SquadLatin-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SquadLatinBold";
  src: url("assets/fonts/SquadLatin-Bold.otf") format("opentype");
}

:root {
  --sb-black: rgb(34, 39, 43);
  --sb-white: rgb(241, 242, 244);
}

@mixin darken() {
  --sb-bg-color-dark-rgb: 16, 18, 20; /* DarkNeutral100 */
  --sb-bg-color-rgb: 34, 39, 43; /* DarkNeutral200 */
  --sb-bg-color-light-rgb: 44, 51, 58; /* DarkNeutral300 */
  --sb-color-rgb: 241, 242, 244; /* Neutral200 */
  --sb-color-hover-rgb: 220, 223, 228; /* Neutral300 */
  --sb-primary-color-rgb: 255, 221, 112;
  --sb-primary-color-hover-rgb: 255, 236, 153;
  --sb-secondary-color-rgb: 0, 76, 225;
  --sb-secondary-color-hover-rgb: 6, 106, 254;
  --sb-tertiary-color-rgb: 192, 86, 247;
  --sb-tertiary-color-hover-rgb: 210, 126, 249;

  --sb-bg-color-dark: rgb(var(--sb-bg-color-dark-rgb));
  --sb-bg-color: rgb(var(--sb-bg-color-rgb));
  --sb-bg-color-light: rgb(var(--sb-bg-color-light-rgb));
  --sb-color: rgb(var(--sb-color-rgb));
  --sb-color-hover: rgb(var(--sb-color-hover-rgb));
  --sb-primary-color: rgb(var(--sb-primary-color-rgb));
  --sb-primary-color-hover: rgb(var(--sb-primary-color-hover-rgb));
  --sb-secondary-color: rgb(var(--sb-secondary-color-rgb));
  --sb-secondary-color-hover: rgb(var(--sb-secondary-color-hover-rgb));
  --sb-tertiary-color: rgb(var(--sb-tertiary-color-rgb));
  --sb-tertiary-color-hover: rgb(var(--sb-tertiary-color-hover-rgb));
}

@mixin lighten() {
  --sb-bg-color-dark-rgb: 247, 248, 249; /* Neutral100 */
  --sb-bg-color-rgb: 241, 242, 244; /* Neutral200 */
  --sb-bg-color-light-rgb: 220, 223, 228; /* Neutral300 */
  --sb-color-rgb: 34, 39, 43; /* DarkNeutral200 */
  --sb-primary-color-rgb: 246, 202, 69;
  --sb-primary-color-hover-rgb: 248, 213, 106;
  --sb-secondary-color-rgb: 33, 120, 226;
  --sb-secondary-color-hover-rgb: 51, 150, 255;
  --sb-tertiary-color-rgb: 173, 48, 232;
  --sb-tertiary-color-hover-rgb: 189, 89, 237;

  --sb-bg-color-dark: rgb(var(--sb-bg-color-dark-rgb));
  --sb-bg-color: rgb(var(--sb-bg-color-rgb));
  --sb-bg-color-light: rgb(var(--sb-bg-color-light-rgb));
  --sb-color: rgb(var(--sb-color-rgb));
  --sb-primary-color: rgb(var(--sb-primary-color-rgb));
  --sb-primary-color-hover: rgb(var(--sb-primary-color-hover-rgb));
  --sb-secondary-color: rgb(var(--sb-secondary-color-rgb));
  --sb-secondary-color-hover: rgb(var(--sb-secondary-color-hover-rgb));
  --sb-tertiary-color: rgb(var(--sb-tertiary-color-rgb));
  --sb-tertiary-color-hover: rgb(var(--sb-tertiary-color-hover-rgb));
}

body.sb-dark-theme {
  @include darken();
}

body.sb-light-theme {
  @include lighten();
}

body {
  background-color: var(--sb-bg-color) !important;
  color: var(--sb-color) !important;

  font-family: "SquadLatin", sans-serif !important;

  .sb-container {
    position: relative;

    @media screen and (min-width: 992px) {
      max-width: var(--bs-breakpoint-xl);

      padding: 0 2.5rem;
      margin: 40px auto;
    }

    @media screen and (max-width: 991px) {
      padding: 0 1.5rem;
      margin: 20px auto;
    }
  }

  .sb-btn {
    --sb-btn-bg-color: var(--sb-bg-color);
    --sb-btn-bg-color-hover: var(--sb-bg-color-light);
    --sb-btn-color: var(--sb-color);

    display: inline-flex;

    align-items: center;
    justify-content: center;

    padding: 0.8rem 1.6rem;

    background-color: var(--sb-btn-bg-color);
    color: var(--sb-btn-color);

    border: 3px solid black;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;

    box-shadow: 0 3px 0 black;

    transition: background-color 0.2s ease, box-shadow 0.2s ease,
      transform 0.2s ease;

    &.sb-btn-primary {
      --sb-btn-bg-color: var(--sb-primary-color);
      --sb-btn-bg-color-hover: var(--sb-primary-color-hover);
      --sb-btn-color: var(--sb-black);
    }

    &.sb-btn-secondary {
      --sb-btn-bg-color: var(--sb-secondary-color);
      --sb-btn-bg-color-hover: var(--sb-secondary-color-hover);
      --sb-btn-color: var(--sb-bg-color);
    }

    &.sb-btn-tertiary {
      --sb-btn-bg-color: var(--sb-tertiary-color);
      --sb-btn-bg-color-hover: var(--sb-tertiary-color-hover);
      --sb-btn-color: var(--sb-black);
    }

    &:active {
      box-shadow: none;
      transform: translateY(3px);
    }

    &:hover {
      background-color: var(--sb-btn-bg-color-hover);
    }
  }

  .sb-article-content img,
  .sb-article-content iframe {
    max-width: 100%;
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
