.sb-card {
  display: block;

  width: 100%;

  background-color: var(--sb-bg-color-light);

  border: 3px solid black;
  border-radius: 10px;

  text-decoration: none;

  box-shadow: 0 3px 0 black;
  overflow: hidden;

  .sb-header {
    height: 150px;
    width: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .sb-body {
    display: grid;

    color: rgba(var(--sb-color-rgb), 0.8);

    padding: 1rem;

    .sb-title {
      color: var(--sb-color);
    }

    .sb-subtitle {
      display: inline-block;

      width: 30%;

      margin-bottom: 0.5rem;
      margin-left: auto;

      font-size: 0.75rem;
    }

    .sb-content {
      display: -webkit-box;

      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      height: 4rem;

      margin-bottom: 0;

      font-size: 0.85rem;
    }
  }
}
