<footer>
  <div class="sb-container sb-footer">
    <div class="sb-logo">
      <img src="assets/brand.png" alt="Logo" />
    </div>
    <div class="sb-links">
      <a
        class="col-12 col-sm-6 col-lg-3"
        href="https://discord.gg/DKb8cRVqdy"
        target="_blank"
      >
        <ng-icon name="bootstrapDiscord" size="" class="me-2"></ng-icon>
        Discord
      </a>
      <a
        class="col-12 col-sm-6 col-lg-3"
        href="https://x.com/Squad_Busters"
        target="_blank"
      >
        <ng-icon name="bootstrapTwitterX" size="" class="me-2"></ng-icon>
        Twitter/X
      </a>
      <a
        class="col-12 col-sm-6 col-lg-3"
        href="https://squadbusters.supercell.com/fr/"
        target="_blank"
      >
        <ng-icon name="bootstrapGlobe" size="" class="me-2"></ng-icon>
        Site Officiel
      </a>
      <a
        class="col-12 col-sm-6 col-lg-3"
        href="https://supercell.com/en/fan-content-policy/"
        target="_blank"
      >
        <ng-icon name="bootstrapFileTextFill" size="" class="me-2"></ng-icon>
        Fan Content Policy
      </a>
    </div>
    <div class="sb-policy">
      <p>
        Ce contenu n'est pas affilié à, sponsorisé, ni spécifiquement approuvé
        par Supercell, et Supercell dégage toute responsabilité à son sujet.
        Pour plus d'informations, voyez le règlement sur les contenus de fans :
        <a href="https://www.supercell.com/fan-content-policy" target="_blank">
          www.supercell.com/fan-content-policy
        </a>
      </p>
      <p>&copy; {{ copyrightYear }} SquadBustersFR. Tous droits réservés.</p>
    </div>
  </div>
</footer>
