<footer>
  <div class="sb-container sb-footer">
    <div class="sb-section sb-up">
      <div class="sb-links">
        <a href="https://squadbusters.supercell.com/fr/" target="_blank">
          Site Officiel
        </a>
        <a href="https://supercell.com/en/fan-content-policy/" target="_blank">
          Fan Content Policy
        </a>
      </div>
      <div class="sb-download">
        <a
          class="sb-btn"
          href="https://play.google.com/store/apps/details?id=com.supercell.squad"
          target="_blank"
        >
          Google Play
        </a>
        <a
          class="sb-btn"
          href="https://apps.apple.com/fr/app/squad-busters/id1668983788"
          target="_blank"
        >
          App Store
        </a>
      </div>
    </div>
    <div class="sb-section sb-down">
      <div class="sb-infos">
        <div class="sb-logo">
          <img src="assets/brand.png" alt="Logo" />
        </div>
        <div class="sb-policy">
          <p>
            Ce contenu n'est pas affilié à, sponsorisé, ni spécifiquement
            approuvé par Supercell, et Supercell dégage toute responsabilité à
            son sujet. Pour plus d'informations, voyez le règlement sur les
            contenus de fans :
            <a
              href="https://www.supercell.com/fan-content-policy"
              target="_blank"
            >
              www.supercell.com/fan-content-policy
            </a>
          </p>
        </div>
      </div>
      <div class="sb-socials">
        <a href="https://discord.gg/DKb8cRVqdy" target="_blank">
          <ng-icon name="bootstrapDiscord" size="30"></ng-icon>
        </a>
        <a href="https://x.com/Squad_Busters" target="_blank">
          <ng-icon name="bootstrapTwitterX" size="30"></ng-icon>
        </a>
      </div>
    </div>
    <p class="sb-copyright">
      &copy; {{ copyrightYear }} SquadBustersFR. Tous droits réservés.
    </p>
  </div>
</footer>
