footer {
  display: grid;

  height: 29rem;

  background-color: var(--sb-bg-color-light);
}

.sb-footer {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 3rem;

  margin: auto;
  padding-top: 0;
  padding-bottom: 0;

  .sb-logo {
    width: 13rem;

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .sb-links {
    display: flex;

    gap: 5rem;

    a {
      display: flex;

      align-items: center;

      color: rgba(var(--sb-color-rgb), 0.8);

      text-decoration: none;

      &:hover {
        color: var(--sb-color);
      }
    }
  }

  .sb-policy {
    max-width: 40rem;

    color: rgba(var(--sb-color-rgb), 0.5);

    font-size: 0.85rem;

    text-align: center;

    p:last-child {
      margin-bottom: 0;
    }

    a {
      color: inherit;

      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
